@import "../../styles/shared";

.category {
  padding-top: 80px;

  @include onDesktop {
    width: $desktop-width;
  }

  @include onLaptop {
    width: $laptop-width;
  }

  @include onTablet {
    width: 576px;
  }

  @include onMobile {
    width: 100%;
  }

  &__list {
    display: flex;
    margin-top: 24px;

    @include MobileAndTablet {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  
  &__link {
    width: 33%;

    @include MobileAndTablet {
      width: 100%;
    }

    &:not(:last-child) {
      margin-right: 16px;
    }
  }

  &__models {
    font-weight: 500;
    margin-top: 4px;
    color: $gray-color-secondary;
  }

  &__container {
    &__image {
      overflow: hidden;
      height: 368px;
      margin-bottom: 24px;
    }

    &--accessories {
      background-color: #973d5f;
    }

    &--tablets {
      background-color: #8d8d92;
    }

    &--phones {
      background-color: #fcdbc1;
    }
  }

  &__image {
    position: relative;
    object-fit: contain;
    width: 100%;
    height: 100%;

    transition: left 0.5s ease-out;

    &--accessories {
      width: 670px;
      height: 368px;
      top: 15%;
      left: 10%;

      &:hover {
        left: -10%;
      }
    }

    &--tablets {
      top: 20%;
      left: 23%;

      &:hover {
        left: 0;
      }
    }

    &--phones {
      left: 21%;
      top: 16%;

      &:hover {
        left: 0;
      }
    }
  }
}
