@import "../../styles/shared";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 40px $container-horisontal-padding;

  flex: 1 1 auto;

  @include onDesktop {
    padding: 40px 80px $container-horisontal-padding;
  }
}
