@import "../../styles/shared";

.catalog-product {
  position: relative;
  display: block;
  border: 1px solid $light-gray-color;
  background: $white-color;
  padding: 32px 25px;
  max-width: 272px;

  transition: border-color, box-shadow 0.2s ease-out;

  &:hover {
    border-color: $primary-color;
    box-shadow: $dart-box-shadow;
  }

  &:not(:last-child) {
    margin-right: 16px;
  }

  &__title {
    min-height: 42px;
    width: 220px;
    margin-top: 24px;
    font-weight: 500;
    line-height: 21px;
    color: $primary-color;
  }

  &__price-wrapper {
    border-bottom: 1px solid $light-gray-color;
    margin: 8px 0;
  }

  &__button-wrapper {
    display: flex;
    margin-top: 16px;
  }

  &__image {
    & > img {
      width: 208px;
      height: 208px;
      object-fit: contain;
    }
  }
}
