$primary-color: #313237;
$white-color: #fff;
$gray-color-secondary: #89939a;
$gray-color-icons: #b4bdc3;
$gray-color-background: #fafbfc;
$light-gray-color: #e2e6e9;
$red-color: #eb5757;
$green-color: #27ae60;

$dart-box-shadow: 0 3px 13px rgba(23,32,49, 0.26);

$padding-header: 24px;
$product-card-margin: 8;
$container-horisontal-padding: 80px;
$slider-padding: 80px;

$desktop-width: 1152px;
$laptop-width: 864px;
$checkout-button-width: 320px;
