@import "../../../styles/shared.scss";

.menu {
  @include onMobile {
    margin-right: 15px;
  }

  &__list {
    display: flex;
  }

  &__item {
    list-style: none;
  }

  &__link {
    display: block;
    color: $gray-color-secondary;
    padding: $padding-header 0;
    margin: 0 $padding-header;
    line-height: 16px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.48px;

    transition: color 0.3s;

    &:hover {
      color: $primary-color;
    }

    &--active {
      color: $primary-color;
      box-shadow: inset 0 -3px 0 #313237;
    }
  }

  &--mobile {
    display: flex;
    flex-direction: column;
    gap: 10px;

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: transform .5s ease-in-out;
    -moz-transition: transform .5s ease-in-out;
    -o-transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
    cursor: pointer;

    & > span {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;
    }

    & > span:nth-child(1) {
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }
    
    & > span:nth-child(2) {
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }
    
    & > span:nth-child(3) {
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }

    &--opened {
      & > span:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      
      & > span:nth-child(2) {
        width: 0%;
        opacity: 0;
      }
      
      & > span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
    }
  }

  &__mobile {
    background-color: $light-gray-color;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;

    z-index: 5;

    &__list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__burger {
    border-bottom: 1px solid black;
    width: 30px;
  }
}
