@import "../../styles/shared";

.product-details {
  min-height: 100%;
  flex: 1 1 auto;
  margin: 24px 15px 0;

  @include onDesktop {
    padding: 25px 152px 0;
  }

  @include MobileAndTablet {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @include onTablet {
    margin: 24px 30px 0;
  }
  
  @include onLaptop {
    padding: 0 50px;
  }

  &__title {
    @include onMobile {
      text-align: center;
    }
  }

  &__thumbnails {
    position: relative;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    overflow: scroll;

    @include onMobile {
      flex-direction: row;
      overflow: hidden;
    }
  }
  
  &__main {
    margin-top: 40px;

    @include onTablet {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    & > .product-slider {
      padding-bottom: $slider-padding;
    }
  }

  &__header {
    position: relative;
    display: flex;

    @include MobileAndTablet {
      flex-direction: column;
      align-items: center;
    }
  }

  &__container {
    &__colors {
      border-bottom: 1px solid $light-gray-color;
    }

    &__tech {
      margin-top: 32px;
    }
  }

  &__data {
    width: 45%;

    @include MobileAndTablet {
      width: 100%;
      margin-top: 20px;
    }

    @include onMobile {
      width: 70%;
    }
  }

  &__thumb {
    &__item {
      display: flex;
      height: 20%;
      padding: 5px;

      @include onMobile {
        height: 75px;
      }

      & > img {
        width: 47px;
        object-fit: contain;
      }
    }

    &--active {
      border: 1px solid $primary-color;
    }
  }

  &__colors {
    display: flex;
    gap: 8px;
    margin: 8px 0 24px;
  }

  &__title-product {
    font-size: 12px;
    font-weight: 500;
    color: $gray-color-secondary;
  }

  &__link-color {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    border: 1px solid $light-gray-color;
    border-radius: 50%;

    transition: border-color 0.3s ease-out;

    &:hover {
      border-color: $gray-color-icons;
    }

    &--active {
      border-color: $primary-color;
    }
  }

  &__color {
    border-radius: 50%;
    border: 1px solid $light-gray-color;
    width: 32px;
    height: 32px;
  }

  &__image {
    width: 100%;
    object-fit: contain;
    height: 442px;

    &__wrapper {
      height: 100%;
    }

    &__container {
      display: flex;
      width: 50%;
      height: 464px;
      margin-right: 64px;

      @include MobileAndTablet {
        width: 100%;
        margin: 0;
      }

      @include onMobile {
        flex-direction: column-reverse;
        align-items: center;
        height: 550px;
      }
    }

    &__main {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      width: 442px;
      margin-left: 20px;

      @include onMobile {
        height: 442px;
        flex-shrink: 1;
        max-width: 355px;
        margin: 0 0 30px;
      }
    }
  }

  &__capacity {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    border-bottom: 1px solid $light-gray-color;

    &__item {
      padding: 7px 8px 4px;
      color: $primary-color;
      border: 1px solid $gray-color-icons;
      font-weight: 500;
      line-height: 21px; 
    }

    &__available {
      display: flex;
      margin: 8px 0 24px;
      gap: 8px;
    }

    &--active {
      color: $white-color;
      background-color: $primary-color;
    }
  }

  &__price {
    margin-top: 32px;
  }

  &__info {
    display: flex;
    gap: 64px;
    margin-top: 80px;

    @include onMobile {
      flex-direction: column;
    }

    &__title {
      border-bottom: 1px solid $light-gray-color;
      padding-bottom: 16px;
    }

    &__container {
      width: 50%;

      @include onMobile {
        width: auto;
        padding: 0 30px;
      }
    }
  }

  &__tech-specs {
    font-weight: 500;
    line-height: 21px;
    margin-top: 25px;

    &__container {
      display: flex;
      justify-content: space-between;
      gap: 19px;

      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  
    &__title {
      color: $gray-color-secondary;
    }

    &__text {
      color: $primary-color;
    }
  }

  &__id {
    position: absolute;
    top: -40px;
    right: 0;
    color: $gray-color-icons;
    font-size: 12px;
    font-weight: 400;

    @include MobileAndTablet {
      position: static;
      width: auto;
      margin-top: 15px;
    }
  }

  &__button {
    background-color: transparent;
    background-repeat: no-repeat;
    min-width: 32px;
    height: 25%;
    border: 1px solid $light-gray-color;
    padding: 0;
    background-position: center;
    transition: all 0.3s ease;
  
    background-image: url("../../assets/arrow-right.svg");
    transform: rotate(180deg);
  
    &--prev {
      transform: rotate(0deg);
      left: -16px;
    }
  
    &--next {
      right: -16px;
    }
  
    &:hover {
      border-color: $primary-color;
      cursor: pointer;
    }
  }

  & > .user-location {
    @include onMobile {
      padding-bottom: 20px;
    }
  }
}
