@import "../../styles/shared";

.search {
  display: flex;
  align-items: center;
  box-shadow: -1px 0 0 $light-gray-color;

  &__input {
    outline: none;
    border: none;
    width: 225px;
    padding: $padding-header;
    color: $primary-color;

    &::placeholder {
      color: $gray-color-icons;
      font-weight: 600;
      font-family: Mont, sans-serif;
      font-size: 14px;
      font-style: normal;
      line-height: normal;
    }

    &:focus {
      background-color: $gray-color-background;
      box-shadow: -1px 0 0 $light-gray-color;

      @include onMobile {
        width: 100%;
        padding: 24px;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        left: 0;

        z-index: 12;
      }
    }

    @include onMobile {
      width: 0;
      padding: 0;
    }
  }

  &__icon {
    display: flex;
    padding: 24px;

    &--search {
      &::after {
        width: 16px;
        height: 16px;
        content: url(../../assets/search.svg);
      }
    }

    &--delete {
      &::after {
        width: 16px;
        height: 16px;
        content: url(../../assets/close-icon-black.svg);
      }
    }

    &--focused {
      background-color: $gray-color-background;
    }
  }
}
