@import "../../styles/shared";

.cart-product {
  display: flex;
  position: relative;
  align-items: center;
  border: 1px solid $light-gray-color;
  padding: 24px 40px 24px 24px;

  @include MobileAndTablet {
    padding: 24px;
  }

  @include onLaptop {
    padding: 20px;
  }

  @include onMobile {
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
  }

  &__close {
    height: 16px;
    width: 16px;
    background-image: url(../../assets/close-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

    transition: background-image 0.3s ease-out;

    &:hover {
      background-image: url(../../assets/close-icon-black.svg);
    }

    @include onMobile {
      position: absolute;
      top: 43%;
      left: 2%;
    }
  }

  &__name {
    width: 295px;
    color: $primary-color;
    margin-right: 49px;

    @include onLaptop {
      width: 200px;
      margin-right: 20px;
    }

    @include MobileAndTablet {
      width: 200px;
      margin-right: 20px;
    }

    @include onMobile {
      margin-left: 70px;
      margin-right: 0;
    }
  }

  &__image {
    width: 66px;
    height: 66px;
    object-fit: contain;

    @include onMobile {
      position: absolute;
      left: 6%;
      top: 23%;
    }
  }

  &__quantity {
    text-align: center;
    width: 18px;
  }

  &__button {
    width: 32px;
    height: 32px;
    padding: 8px;
    border: 1px solid $light-gray-color;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

    transition: border-color 0.3s ease-out;

    @include onMobile {
      width: 28px;
      height: 28px;
    }

    &:hover:not(.cart-product__button--minus-disabled) {
      border-color: $primary-color;
    }

    &--plus {
      background-image: url(../../assets/plus.svg);
    }

    &--minus {
      background-image: url(../../assets/minus.svg);

      &-disabled {
        background-image: url(../../assets/minus-disabled.svg);
        cursor: not-allowed;
      }
    }
  }

  &__wrapper {
    display: flex;

    align-items: center;
    gap: 31px;

    @include MobileAndTablet {
      gap: 20px;
    }

    @include onLaptop {
      gap: 20px;
    }

    @include onMobile {
      justify-content: center;
    }
  }
  
  &__count {
    display: flex;
    align-items: center;
    gap: 10px;

    @include onMobile {
      justify-content: space-around;
      margin-left: 80px;
    }

    &__wrapper {
      display: flex;
      align-items: center;
      gap: 13px;
      margin-right: 43px;

      @include onLaptop {
        margin-right: 20px;
        gap: 8px;
      }
  
      @include onMobile {
        margin: 0;
      }
    }
  }

  &__total {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 90px;

    @include onMobile {
      font-size: 20px;
    }
  }
}
